* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    width: 375px;
    height: 600px;

}

.header-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(257, 40%, 49%);
    height:38rem ;
    background-image: url("https://previews.dropbox.com/p/thumb/ABilV4tPRJQk4k0PpL0G520h4HE7j7H-NFuhNJp9mUr1YMb6jIX9hisbwwwtNFSXwc_71gNLlUQnPoYIK9pjkC12-iMWHBWrtefo8FykDrHANxbpvT7NeBAsGxT4GolmInWVWbHGAFfuUHYxS9bPhhCAUkL35GtR6JTeBrVSfLRLKBxnNh2ogmnBBEjBapJo8kgmnuyCzmX6jIO0Ul8JfLPqqcLaZlSnWZLtqkQUHTsIheQ2t7W0O1SDgX16INLJAl7wPYh4-xn93x6Az3mPmOyHT0hzPxwGychgFNC0Qmw_2r_jA5uUz_9PMukBPCFPbxlvifxmgsECmhSxY4CWejRnekvdS0ztntFhcxGvTJWCTieIJzDEu58Tr9N594vu268/p.png");
    object-fit: cover;
    padding: 4rem;
}
.header-container__logo {
    width: 12rem;
    height: 5rem;
    object-fit: cover;
}
.header-container__portada {
    width: 30rem ;
    height: 18rem;
    object-fit: cover;
}


.text-container {
    height: 26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:hsl(257, 40%, 49%) ;
    padding: 2rem 4rem;
}
.text-container h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
}
.text-container P {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.text-container button {
    height: 3.2rem;
    width: 16rem;
    color:hsl(257, 40%, 49%) ;
    border-radius: 2rem;
    border: none;
    margin-top: 2rem;
}


footer {
    display: flex;
    justify-content: center;
    height: 6rem;
    width: 375px;
    background-color: hsl(257, 40%, 49%);
}
.footer-container a img {
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.4rem;
    object-fit: cover;
}
